@model IEnumerable<LostAndFound.Models.Item>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-lg-3">
            <a href="@Url.Action("Details", new { id = item.ID })">
                <div class=" item-wrapper">
                    <p class="text-large blue">@Html.DisplayFor(modelItem => item.Name)</p>
                    <!--<img src="@Html.DisplayFor(modelItem => item.ImgUrl)" alt="Alternate Text" />-->
                    <p class="text-small light-gray">@Html.DisplayFor(modelItem => item.FoundDate)</p>
                    <p class="text-small medium-gray">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </a>
        </div>
    }
</div>


